@page
@model FileStorageSystem.Pages.login_pageModel
@{
    ViewData["Title"] = "Login";
}

<!-- Форма для вызова метода -->
<form id="myForm" method="post" asp-page-handler="MyMethod">
    <!-- Скрытый input для безопасности (ASP.NET требует его для POST) -->
    @Html.AntiForgeryToken()
</form>





!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в систему</title>
    <link rel="stylesheet" href="/css/main-style.css">
</head>
<body>
    <form action="/login" method="POST">
        <div class="login-header-row">
            <h1>Вход в систему</h1>
            <span title="Чтобы узнать данные для входа — обратитесь к администратору.">?</span>
        </div>

        <div class="inputs-row">
            <div class="input-row">
                <label for="login" class="label-text">Логин</label>
                <input type="text" id="login" name="login" placeholder="Введите свой логин" required>

            </div>
            <div class="input-row">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" placeholder="Введите свой пароль" required autocomplete="current-password">
            </div>
        </div>

        <!-- Кнопка входа -->
        <button id="myButton" "type=" submit" onclick="document.getElementById('myForm').submit();">Вход</button>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#myButton").on("click", function () {
                    $.ajax({
                        type: "POST",
                        url: "/Login?handler=MyMethod", // Укажите корректный путь
                        success: function (response) {
                            if (response.success) {
                                alert(response.message); // Показать всплывающее окно
                            } else {
                                alert("Произошла ошибка при выполнении операции.");
                            }
                        },
                        error: function () {
                            alert("Произошла ошибка при выполнении запроса.");
                        }
                    });
                });
            });
        </script>
    </form>
</body>
</html>