@page
@model FileStorageSystem.Pages.login_pageModel
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в систему</title>
    <link rel="stylesheet" href="/css/main-style.css">
</head>
<body>
    <form action="/login" method="POST">
        <div class="login-header-row">
            <h1>Вход в систему</h1>
            <span title="Чтобы узнать данные для входа — обратитесь к администратору.">?</span>
        </div>

        <div class="inputs-row">
            <div class="input-row">
                <label for="login" class="label-text">Логин</label>
                <input type="text" id="login" name="login" placeholder="Введите свой логин" required>

            </div>
            <div class="input-row">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" placeholder="Введите свой пароль" required autocomplete="current-password">
            </div>
        </div>

        <!-- Кнопка входа -->
        <button id="loginButton" type="submit">Вход</button>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            document.getElementById('loginButton').addEventListener('click', function() {
                event.preventDefault(); // предотвращаем отправку формы

                // Получаем значения из полей ввода
                const email = document.getElementById('login').value;
                const pass = document.getElementById('password').value;

                async function login(email, password)
                {
                    const response = await fetch('/api/user', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            email: email,
                            password: password
                        })
                    });

                    if (!response.ok)
                    {
                        throw new Error(response.statusText);
                    }

                    const data = await response.status;
                    return data;
                }
                

                login(username, pass)
                    .then(response => {
                        alert(response);
                    })
                    .catch(error => {
                        alert(error);
                    });
        
            //     .then(response => response.json())
            //     .then(response => {
            //         if (!response.ok) {
            //             throw new Error('Ошибка сети');
            //         }
            //         return response.json();
            //     })
            //     .then(data => {
            //         обработка результата
            //         console.log('Успех:', data);
            //         alert('Авторизация прошла успешно!', data);
            //     })
            //     .catch(error => {
            //         console.error('Ошибка:', error);
            //         alert('Ошибка авторизации', error);
            //     });
            });
        </script>
    </form>
</body>
</html>